<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>jjjung's portfolio</title>
    <link rel="stylesheet" href="./style/style.css" />
    <link rel="stylesheet" href="main.css" />
  </head>
  <body>
    <div id="wrapper">
      <div id="left-sidebanner" class="activate">left banner</div>

      <div id="main">
        <div id="topbar">
          <img src="menu.png" alt="menu" onClick="control_sidebar()" />
          <span id="title">jjjung portfolio</span>
          <img src="search.png" alt="search" />
        </div>
        <div id="content">content</div>
      </div>
    </div>
    <script src="main.js"></script>
  </body>
</html>
