.wrapper{
    display: flex;
    width: 96%;
    margin: 0 2%;
}

#left-sidebanner{
    /* check border */
    border: 1px solid red;

    /* contents */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: 0.75rem;

    padding-top: 2%;

    /* animation */
    width: 12rem;
    height: 100%;
    overflow: hidden;
    white-space: nowrap;

    transition: width 1s ease;
}

#main{
    /* check border */
    border: 1px solid blue;

    /* contents */
    display: flex;
    flex-direction: column;
    align-items: center;

    flex-grow: 1;

    /* animation */
    transition: width 1s ease;
}

#topbar{
    display: flex;
    align-items: center;
    width: 95%;
    height: 2.5rem;
    justify-content: space-between;
    position: relative; 

    padding-right: 5%;
    border-bottom: 1px solid gray;
}

#topbar > div{
    display: flex;
    align-items: center;
    justify-content: center;
}

#topbar img[alt="menu"]{
    margin-left: 0;
}

#title{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); 
}

#left-sidebanner:not(.activate){
    width: 0;
}

img{
    width: 100%;
    height: 100%;
}