.wrapper {
  display: flex;
  width: 100%;
}

#left-sidebanner {
  /* check border */
  border: 1px solid red;
  background-color: #d6cfc7;
  box-shadow: 0.25rem 0 0.5rem rgba(0, 0, 0, 0.1);

  /* contents */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  font-size: 0.75rem;

  /* animation */
  width: 16rem;
  height: 100%;
  padding-top: 2%;
  overflow: hidden;
  white-space: nowrap;

  transition: width 1s ease;
}

#main {
  /* check border */
  border: 1px solid blue;

  /* contents */
  display: flex;
  flex-direction: column;
  align-items: center;

  flex-grow: 1;

  /* animation */
  transition: width 1s ease;
}

#left-sidebanner:not(.activate) {
  width: 0;
}