<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>jjjung's portfolio</title>
    <link rel="stylesheet" href="/style/style.css" />
    <link rel="stylesheet" href="/style/sidebar.css" />
    <link rel="stylesheet" href="/template.css" />
  </head>
  <body>
    <div class="wrapper">
      <div id="left-sidebanner" class="activate">
        <div class="wrapper">
          <div id="profile">
            <div id="profile-img">
              <img src="/assets/img/profile.jpeg" alt="profile" />
            </div>
            <strong id="name">jjjung</strong>
            <div id="introduction">Hello</div>
            <div id="contact">
              Follow me:
              <a href="github.com"
                ><img src="/assets/img/github.png" alt="github"
              /></a>
              <a href="email.com"
                ><img src="/assets/img/email.png" alt="email"
              /></a>
            </div>
          </div>
        </div>

        <nav id="pages">
          <span><a href="index.html">Home</a></span>
          <span><a href="blog.html">Blog</a></span>
          <span><a href="research.html">Research</a></span>
          <span><a href="project.html">Project</a></span>
        </nav>
      </div>
      <div id="main">
        <div id="topbar">
          <div id="menu-btn">
            <img
              src="/assets/img/menu.svg"
              alt="menu"
              onClick="control_sidebar()"
            />
          </div>
          <span id="title">jjjung portfolio</span>
          <div id="search-btn"><img src="/assets/img/search.svg" alt="search" /></div>
        </div>
        <div id="content">content</div>
      </div>
    </div>
    <script src="/js/sidebar.js"></script>
  </body>
</html>
